1st Question

Write a function replace_latest_slice() which takes a string query, and changes all
occurrences of latest_slice::<table> to (SELECT * FROM <table> WHERE ds =
'LATEST').
Example:
<> replace_latest_slice(query="""SELECT * FROM
latest_slice::sale_order so INNER JOIN latest_slice::res_partner rp ON
so.id = rp.id""")
SELECT * FROM (SELECT * FROM sale_order WHERE ds = 'LATEST') so INNER
JOIN (SELECT * FROM res_partner WHERE ds = 'LATEST') rp ON so.id =
rp.id

In [22]:
def replace_latest_slice(query):
    #Extract Latest_slice<table_name> from query
    split_query = query.split()
    for sub_string in split_query:
        if sub_string.startswith('latest'):
            print(sub_string)
            query = query.replace(sub_string, "(SELECT * FROM <table> WHERE ds ='LATEST')")
    return query
    
print(replace_latest_slice(query="""SELECT * FROM latest_slice::sale_order so INNER JOIN latest_slice::res_partner rp ON
so.id = rp.id"""))

latest_slice::sale_order
latest_slice::res_partner
SELECT * FROM (SELECT * FROM <table> WHERE ds ='LATEST') so INNER JOIN (SELECT * FROM <table> WHERE ds ='LATEST') rp ON
so.id = rp.id

2. SQL – time estimate 20mn
Given two tables:
● deliveries(id INT, day DATE, driver_id INT)
● drivers(id INT, name VARCHAR, city VARCHAR)
Write an SQL query that
A. counts for each driver, 2017 September deliveries that happened in Dubai (stats).
B. counts how many drivers made more than 1,000 overall deliveries in Dubai (top drivers).
C. counts how many days driver John Smith made deliveries in 2017 September (active
days).
D. counts deliveries on 2017-09-01 that were assigned to a non-existent driver (errors).

In [ ]:
#SQL Query for PART-A
select count(*),d.name from drivers dr inner join deliveries de on dr.id=de.driver_id group by de.name where de.YEAR(day) = '2017' and de.Month(date)= 8 and dr.city ='Dubai'

#SQL Query for PART-B
select count(dr.drivers) from drivers dr inner join deliveries de on dr.id=de.driver_id group by de.name HAVING count(*) > 1000 and de.city ='Dubai'

#SQL Query for PART-C
select DAY(DATEADD(DD,-1,DATEADD(MM,DATEDIFF(MM,-1,de.day),0))) from drivers dr inner join deliveries de on dr.id=de.driver_id group by de.name where dr.name='John smith' and de.YEAR(day) = '2017' and de.Month(date)=8

#SQL Query for PART-D
select count(*) from deliveries de where de.day = '2017-09-01' and de.driver_id is NULL

3. Split string – time estimate 40mn
We can define 2 special types of strings (both consisting of lowercase English letters) :
two_string : string of length 2 (example: "ab","zz")
three_string: string of length 3 (example: "abc","ghw").
You can create new strings by placing one or several two_strings and three_strings side by side
in a line and without placing two same strings next to one another.
From the example above you can create for example “abzz”, “ababc”, “zzabcghwab” etc.
Given a string S, think of all the ways in which that string S could have been built with the above
method and enumerate all the distinct two_strings and three_strings you would need for all
these different ways of building S.
For example given a string abcdef there are two ways to build (ab, cd, ef) (abc, def) so the list of
distinct strings is ['ab', 'cd', 'ef', 'abc', 'def'].
Write a function split_string() which, given a string S of length N, returns the list of all distinct
two_strings and three_strings that could be used for building S, and an empty list if there is no
solution.
Constraints:
N<100
Adjacent two same strings are forbidden
Example :
>>> split_string(S=”abcdef”)
['ab', 'abc', 'cd', 'def', 'ef']
>>> split_string(S=”abcdefg”)
['ab', 'abc', 'cd', 'cde', 'de', 'efg', 'fg']
>>> split_string(S=”ababcabc”)
['aba', 'abc', 'bc', 'bca']
>>> split_string(S=”ccccacccc”)
['cac', 'ccc']

In [32]:
def split_string(s):
    substrings=set()
    substring_len = 2
    for idx in range(0, len(s), substring_len):
        ss = s[idx:idx+substring_len]
        if len(ss) >1:
            substrings.add(ss)
    substring_len = 3
    for idx in range(0, len(s), substring_len):
        ss = s[idx:idx+substring_len]
        if len(ss) >1:
            substrings.add(ss)
    if len(substrings) ==0:
        return list()
    else:
        return list(substrings)

In [89]:
test1= split_string(input())
test1

abcedf

['abc', 'ab', 'ce', 'edf', 'df']

In [90]:
test2= split_string(input())
test2

ccccacccc

['cc', 'ccc', 'cac', 'ac']

In [86]:
test3= split_string(input())
test3

ababcabc

['ab', 'aba', 'ca', 'bca', 'bc']

In [98]:
test4 = split_string(input())
test4

abcdefg

['abc', 'ef', 'ab', 'cd', 'def']

In [94]:
len(input())

abcdefg

7